<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UPSTestSuite">
  <test thread-count="5" name="UPSRegressionTest">
  
  <groups>
  <run>
  <include name = "RegressionTest"  />
  </run>
  
</groups>  
  
  <classes>
  <class name = "ups.pack.UPSTestRunner">
 
    <!-- <methods> 
  
   <include name="loginErrorMessageTest" /> 
  <include name="signUpLinkTest"  />   
   </methods> 
   -->
   </class>
  <class name = "rediff.pack.ReddifTestRunner"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
